# =========================
# JetBrains Rider / IDE files
# =========================
.idea/
*.iml
workspace.xml
tasks.xml
*.ipr
*.iws

# =========================
# Compiled C++ files
# =========================
*.obj
*.pch
*.pdb
*.exe
*.dll
*.lib
*.app
*.out
*.so
*.dylib

# =========================
# Unreal Engine build artifacts
# =========================
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/

# =========================
# Plugin-specific build artifacts
# =========================
Plugins/**/Binaries/*
Plugins/**/Intermediate/*

# =========================
# MacOS / Windows system files
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Precompiled Assets (optional)
# =========================
SourceArt/**/*.png
SourceArt/**/*.tga

# =========================
# Specific exceptions
# =========================
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# =========================
# Built data for maps (optional)
# =========================
*_BuiltData.uasset
